body {

	//background-color: #eee;
	margin: 0px;

}

p, label, input, button {

	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

header {

	background-color: #ffffff;
	border-color: #cccccc;
	width: 960px;
	margin: auto;

}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

h1 {
	
	background-color: #4aaaa5;
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
	color: white;

}

h2, h3 {

	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
	color: #4aaaa5;

}

header > p {

	float: right;
	margin: 29px 0px 28px 0px;

}

#name {

	float: left;
	padding: 20px;
	margin-top: 0px;
	margin-bottom: 0px;

}



#about {
	
	padding-right: 10px;
	right: 15%;
	border-right: solid #ccc;

}

#profolio {

	padding-left: 10px;
	padding-right: 10px;
	right: 20%;
	border-right: solid #ccc;

}

#contact {
	
	padding-left: 10px;
	right: 25%;

}

.main_content_background {

	background-color: #eee;
	padding-top: 30px;
	border-top: solid #bbb;
	height: 100vh;
	border-bottom: solid #4aaaa5 15px;

}


.main_content {

	width: 960px;
	background-color: #eee;
	margin: auto;

}

#about_me {

	background-color: #ffffff;
	float: left;
	width: 650px;
	border: solid #dddddd;

}

#about_me_content {

	margin: 30px;

}

#about_me_content > img {

	float: left;
	margin-right: 10px;
	margin-top: 10px;

}

#about_me_content > hr {

	border: 0px;
	height: 3px;
	background: #ccc;

}

#about_me_content > h2 {

	font-size: 35px;
	margin-bottom: 5px;


}

#sidebar {

	background-color: #ffffff;
	float: right;
	width: 270px;
	border: solid #dddddd;

}

#sidebar_content {

	margin: 30px;

}

#sidebar_content > h3 {

	text-align: center;
	font-size: 25px;
	margin-bottom: 5px;

}

#linkedin {

	width: 50px;
	height: 50px;
	margin: 8px;

}

#github {

	width: 50px;
	height: 50px;
	margin: 9px;

}

#twitter {

	width: 50px;
	height: 50px;
	margin: 8px;

}

footer {

	background-color: #666666; 

}

footer > p {

	color: #ffffff;
	text-align: center;
	padding: 50px;
	margin: 0px;

}

.intro_text {

	text-align: justify;

}

/*Change <a> tag style to match page*/
a:link {

    color: #777777;
    text-decoration: none;

}

a:visited {

    color: #777777;
    text-decoration: none;

}

a:hover {

    color: #333333;
    text-decoration: underline;

}

a:active {

    color: #777777;
    text-decoration: none;

}



/*CSS for Contact Page*/

#contact_page {

	background-color: #ffffff;
	width: 650px;
	border: solid #dddddd;
	float: left;

}

#contact_page_content {

	margin: 30px;

}

#contact_page_content > hr {

	border: 0px;
	height: 3px;
	background: #ccc;

}

#contact_page_content > h2 {

	font-size: 35px;
	margin-bottom: 5px;

}

input {

	width: 98%;
	font-size: 15px;
	color: #ddd;
	//padding-top: 5px;
	//padding-bottom: 5px;
	//padding-left: 5px;
	padding: 5px;

}

label {

	font-size: 20px;
	line-height: 200%;
	font-weight: bold;

}

#contact_form_message {

	width: 99.4%;
	height: 300px;

}

button {

	border: none;
	font-size: 20px;
	padding: 10px 30px 10px 30px;
	background-color: #4aaaa5;
	color: white;
	margin-top: 20px;

}

/*CSS for profolio page*/